* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100vh;
    background: url("../images/background.png");
    background-repeat: no-repeat;
}

nav {
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav p {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;    
}

.artel-logo {
    text-align: center;
}

.malumot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.malumot-left {
    display: flex;
    flex-direction: column;
}

.malumot-left img {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}

.malumot-rigth {
    margin-top: 70px;
}

.malumot-rigth p {
    text-align: center;
    width: 40px;
    height: 40px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 52px;
    margin-bottom: 15px; 
    font-weight: bold;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);       
}

.malumot-rigth p:nth-child(3) {
    background: #FFFFFF;
    color: #000;
}

.section-one {
    padding: 0 80px;
    width: 100%;
}

.section-one h1 {
    padding: 160px 0 80px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 89px;
    line-height: 114px;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 530px 530px;
    gap: 40px;
}

.container-blog-one {
    padding: 57px 0;
    text-align: center;
    background: url("../images/Vector.svg");
}

.container-blog {
    padding: 60px;
    background: #15171B;
    border-radius: 10px;
    position: relative;
}

.container-blog h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    text-align: right;
    color: #00D162;    
}

.container-blog h2 {
    text-align: start;
    margin-top: 30px;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;    
}

.container-blog p {
    text-align: start;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px; 
    color: #FFFFFF;
}

.container-blog h5 {
    position: absolute;
    bottom: 20px;
    left: calc(100% - 250px);
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #FFFFFF;       
}
.section-one-text h1 {
    font-weight: 900;
    font-size: 89px;
    color: #fff;    
}

.section-one-text p {
    margin-top: -80px;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF; 
}

.blog-item {
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 252px;
    gap: 50px;
}

.blog-item-samsung {
    background: url("../images/samsung.png");
}

.blog-item-samsung img {
    position: relative;
    top: 50%;
    left: calc(50% - 92px);
    width: 184px;
    height: 24px;
}

.blog-item-text {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.blog-item-text-one h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #00D162;    
}

.blog-item-text-one p {
    margin-bottom: 100px;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;   
}

.produkt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produkt p {
    font-weight: 900;
    font-size: 89px;
    line-height: 114px;
    color: #fff;    
}

.produkt img {
    width: 237px;
    height: 237px;
    color: #fff;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    position: relative;
    z-index: 10000;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.product-blog {
    display: grid;
    grid-template-columns: repeat(2, 650px);
    grid-template-rows: 650px 650px;
    gap: 40px 40px;
}

.product-blog img {
    width: 650px;
    height: 650px;
}

footer {
    margin-top: 80px;
    background: #15171B;
    padding: 80px;
}

footer h2 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    line-height: 114px;
    color: #fff;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact-blog h3 {
    margin-top: 180px;
    text-align: start;
    font-weight: 500;
    font-size: 32px;
    line-height: 61px;
    color: #FFFFFF;    
}

.contact-blog p {
    margin-top: 40px;
    font-weight: 300;
    font-size: 17px;
    line-height: 31px;  
    color: #FFFFFF;    
}

.contact-blog span {
    color: #00D162;     
}

.contact-text {
    margin-top: 80px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;    
}

/* ============== Responsiv =============== */

@media (max-width: 1500px) {

    .product-blog img {
        width: 550px;
    }
}

@media (max-width: 1410px) {

    .blog-item-text-one p {
        font-size: 18px;
    }
}

@media (max-width: 1350px) {

    .product-blog {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 470px);
        grid-template-rows: 650px 650px;
        gap: 40px 40px;
    }

    .product-blog img {
        width: 470px;
    }
}

@media (max-width: 1200px) {

    .container-blog h2 {
        font-size: 38px;
    }

    .container-blog p {
        letter-spacing: 0.1rem;
        font-size: 14px;
    }

    .blog-item {
        margin-top: 80px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 252px 252px;
        gap: 50px;
    }

    .blog-item-samsung:last-child {
        position: relative;
        top: 0;
        left: 55%;
    }

    .blog-item-text {
        margin: 200px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px 200px 200px;
        gap: 20px;
        text-align: center;
    }

    .product-blog {
        padding: 20px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 650px);
        grid-template-rows: 650px;
        gap: 40px 40px;
    }

    .product-blog img {
        width: 100%;
        height: 650px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 160px 160px 100px;
        text-align: center;
    }

    .contact-blog h3 {
        margin-top: 20px;
        text-align: center;
        font-weight: 500;
        font-size: 28px;
        color: #FFFFFF;
    }

    .contact-blog p {
        margin: 10px 0 50px 0;
        font-weight: 300;
        font-size: 17px;
        color: #FFFFFF;
    }

}

@media (max-width: 1024px) {

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 530px 530px 530px 530px;
        gap: 40px;
    }

    .container-blog p {
        letter-spacing: 0.1rem;
        font-size: 20px;
    }

    .produkt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .produkt p {
        font-size: 60px;
        line-height: 89px;
        position: relative;
        z-index: 1000000;
    }

    .produkt img {
        width: 138px;
        height: 138px;
    }
}

@media (max-width: 768px) {

    nav {
        padding: 80px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav p {
        font-weight: normal;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    .artel-logo img {
        width: 315px;
        height: 122px;
        text-align: center;
        margin-top: 60px;
    }

    .malumot {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
    }

    .section-one {
        padding: 0 40px;
        width: 100%;
    }
    
    .section-one h1 {
        padding: 80px 0 55px 0;
        font-weight: 900;
        font-size: 70px;
        line-height: 89px;
        color: #fff;
    }
    
    .container-blog-one {
        padding: 57px 0;
        text-align: center;
        background: url("../images/Vector.svg");
    }

    .container-blog {
        padding: 60px;
        background: #15171B;
        border-radius: 10px;
    }

    .container-blog h3 {
        font-weight: 500;
        font-size: 28px;
        line-height: 37px;
        text-align: right;
    }

    .container-blog h2 {
        font-weight: 500;
        font-size: 38.3789px;
        line-height: 49px;
    }

    .container-blog p {
        text-align: start;
        font-weight: 300;
        font-size: 19.1894px;
        line-height: 25px;

    }

    .container-blog h5 {
        font-weight: 500;
        font-size: 19.1894px;
        line-height: 25px;
        text-align: right;
    }

    .section-one h1 {
        font-size: 50px;
        line-height: 89px;
    }

    .section-one-text p {
        margin: 20px 0;
        font-size: 18px;
        line-height: 23px;
    }

    .blog-item {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 206px 206px 206px;
        gap: 50px;
    }

    .blog-item-samsung {
        background: url("../images/samsung.png");
    }

    .blog-item-samsung img {
        position: relative;
        top: 50%;
        left: calc(50% - 92px);
        width: 184px;
        height: 24px;
    }

    .blog-item-samsung:nth-child(3) {
        position: relative;
        top: 0;
        left: 0;
    }

    .blog-item-text {
        margin-top: 200px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px 200px 200px;
        gap: 20px;
    }

    .blog-item-text-one p {
        font-weight: 300;
        font-size: 24px;
        line-height: 31px;
    }

    .produkt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .produkt p {
        font-size: 40px;
        line-height: 89px;
    }

    .produkt img {
        width: 138px;
        height: 138px;
    }

    .product-blog {
        padding: 20px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 450px);
        grid-template-rows: 450px;
        gap: 40px 40px;
    }

    .product-blog img {
        width: 450px;
        height: 450px;
    }

    footer {
        padding: 20px;
    }
}

@media (max-width: 576px) {

    .section-one h1 {
        padding: 20px 20px;
        font-size: 40px;
        line-height: 89px;
    }

    .section-one-text p {
        padding: 0 20px;
        font-size: 16px;
        line-height: 23px;
    }

    .container-blog-one img {
        width: 350px;
        height: 350px;
    }

    .container-blog {
        padding: 20px;
    }

    .produkt p {
        font-size: 20px;
        line-height: 89px;
        position: relative;
        z-index: 1000000;
    }

    .produkt img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

}

@media (max-width: 500px) {

    .section-one h1 {
        font-size: 30px;
        line-height: 39px;
    }

    .section-one-text p {
        font-size: 13px;
        line-height: 23px;
    }

    .container-blog-one img {
        width: 300px;
        height: 300px;
    }

    .container-blog p {
        letter-spacing: 0.1rem;
        font-size: 13px;
    }

    .blog-item-text-one p {
        font-weight: 300;
        font-size: 14px;
        line-height: 31px;
    }

    .product-blog {
        padding: 20px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: 300px;
        gap: 40px 40px;
    }

    .product-blog img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 420px) {

    .section-one {
        padding: 10px;
    }

    .section-one-text p {
        font-size: 10px;
        line-height: 23px;
    }

    .container-blog,
    .container-blog-one {
        margin: 0 auto;
        width: 300px;
        height: 430px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 140px 140px 100px;
        text-align: center;
    }

    footer h2 {
        font-size: 30px;
    }

    .contact-blog h3 {
        margin-top: 20px;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        color: #FFFFFF;
    }

    .contact-blog p {
        margin: 10px 0 50px 0;
        font-weight: 300;
        font-size: 11px;
        color: #FFFFFF;
    }

}